#div-01 {
    padding: 10px;
    border: 10px;
    border-style: solid;
    text-align: center;
    font-size: 16pt;
    width: 600px;
    margin: auto;
}
.table{
  display: flex;
  justify-content: center;
}