#div-01 {
    display: flex;
}
#div-02 {
    margin-top: 200;
    margin-left: 200;
}
#div-03 {
    margin-left: 200;
    margin-top: 200;
}
#div-04 {

}
#textbox{
    width: 100%;
    
}
#button{
    border-radius: 5px 5px 5px 5px;

}