.itemCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#searchBar {
  display: flex;
  justify-content: center;
  width: 500px;
}
input {
  margin-top: 50px;
  height: 20px;
  width: 500px;
}

img {
  width: 100px;
  height: 100px;
}
