
<!-- <div [routerLink]="['/login']" routerLinkActive="router-link-active" >Đăng nhập</div>
<div [routerLink]="['/signup']" routerLinkActive="router-link-active" >Đăng kí</div> -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home</title>
</head>
<body>
  <main>
      <nav>
        <button routerLink="signup" class="first" >SIGNUP</button>
        <button routerLink="login" class="last" >SIGNIN</button>
      </nav>

  </main>
  <div style="font-style: italic; font-size: xx-large; text-align: center;" >
Welcome!
</div>
</body>
</html>