#nav{
    background-color: lavender;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
}
button{
    margin-left: 90%;
    width: 100px;
    height: 50px;
    margin-top: 15px;
    background-color: lemonchiffon  ;
    border-radius: 10px;

}

