
<html>

  <head>
      <link rel="stylesheet" href="./login.css">
      <title>
          login
      </title>
  </head>
  
  <body>
      <header>
          <div class="div01">
              <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQKAJXNflQx8Do48-ehS3kElc13HsIIEJ0WCg&usqp=CAU">
  
          </div>
      </header>
      <div class="navBar">
          <h1><Strong class="name">MARVEL SHOP</Strong></h1>
  
          <div class="button">
  
              <button class="button button1"> <a>Home</a></button>
              <button class="button button2">Login</button>
              <button class="button button3">Sign in</button>
              <button class="button button4">About Us</button>
  
          </div>
  
  
      </div>
      <div class="loginBox">
          <form>
              <table>
                  <tr>
                      <td> Tài khoản: </td>
                      <td><input type="text" placeholder="Example@.com"></td>
                    </tr>
                    <tr>
                      <td>Mật khẩu: </td>
                      <td><input type="password" id="myInput" placeholder="Password">
                      <input type="checkbox" onclick="myPW()">Show
                      </td>
                    </tr> 
  
              </table>
              <tr>
                  <td><input type="checkbox" name="favcolor" id="ghi nhớ mật khẩu" value="">
                    <label for="green">Ghi nhớ mật khẩu</label></td>
              </tr>
          </form>
  
  
  
      </div>
      <div class="loginBut">
          <button class="button5"> Đăng nhập </button>
      </div>
      <div>
  
      </div>
  </body>
  <script src="login.js"></script>
  </html>
<router-outlet></router-outlet>